* {
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    justify-content: space-between;


}

.card {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    

} 

.hide {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    color: white;
}

h1 {
    font-weight: bold;
    text-shadow: 10px 10px black;
    font-family: 'Shrikhand', cursive;
    font-size: 120px;
    color: rgb(238, 191, 52);
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
}

#cocktail-Api {
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 8px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: .5em;
    flex-direction: column;
    background-color: blanchedalmond;

}

#brewery-Api {
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 8px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: .5em;
    flex-direction: column;
    background-color: blanchedalmond;
}

#stay-in-btn {
    background-image: url("../images/StayIn.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    padding: 10em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 20px;
}

#go-out-btn {
    background-image: url("../images/GoOut.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    padding: 10em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 20px;
}
.card.small {
    display: none;
    width: 25em;
    height: 40em;
    padding: .5em;
    overflow: auto;
    background-color: #7163df;
  }

#city-input {
    border-radius: 10px;
    background-color: #4C3EBF;
}

#brewery-Api {
    background-color: #7163df;
}

.modal .modal-footer {
    background-color: #4C3EBF;
    color: white;
    justify-content: center;
    text-align: center;
}

.modal {
    background-color: #4C3EBF;
    color: white;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../images/TheHappyHour.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    flex: 1 0 auto;
  }
  
a {
    color: whitesmoke;
}

